.blog {   
    min-height: 100vh;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(195, 195, 195, 0.606);
}

 
:global(body.dark) .blog {
    background-color: #1f2937;
    color: white;
}