.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hompageTitle {
    font-size: 3rem;
    margin-top: 2rem;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
}

.postButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}