.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hompageTitle {
    font-size: 3rem;
    margin-top: 2rem;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
}

.content {
    padding: 3rem 4rem;
    border-radius: 25px;
    text-align: center;
    max-width: 700px;
    background-color: rgb(53, 53, 137);
    color: white;
}

.buttons ul{
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.buttons button {
    background-color: rgb(122, 122, 227);
    color: white;
    font-size: 1.2rem;
    padding: 14px 30px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
}

.postButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bottomButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:global(body.dark) .homepage {
    background-color: #1f2937;
    color: white;
}   

:global(body.dark) .content {
    background-color: #161d2c;
    color: white;
}

:global(body.dark) .buttons button {
    color: white;
    background-color: #596d8a;
}

@media (max-width: 650px) {
    .homepage{
        padding: 20px;
        margin-top: 40px;
        flex-direction: column;
    }

    .content {
        padding: 2rem;
        max-width: 100%;
    }

    .hompageTitle {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }   

    .buttons ul {
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 20px;
    }

    .buttons li {
        width: 200%;
        display: flex;
        justify-content: center;
    }
}